<hr class="m-5">
<div class="justify-content-center d-flex">
    <p class="p-2">Our Mission</p>
</div>
<hr class="m-5">
<div class="me-5 ms-5 mt-0 justify-content-center d-flex   border border-primary border-dark rounded">
    <ul class="fs-2 pt-5">
        <p class="fs-2">To enable the democratization of large-scale physical advertising by:</p>
        <li class="p-4">Simplifying the physical advertising process</li>
        <li class="p-4">Near real-time physical advertising</li>
        <li class="p-4">Accessibility for any entity to publish (business, organization, resident)</li>
    </ul>
</div>
<hr class="m-5">
<div class="justify-content-center d-flex">
    <p class="p-2">FAQ</p>
</div>
<hr class="m-5">
<div class="m-5 pb-5">
<article class="sample-wrapper">
    <igx-accordion #accordion [singleBranchExpand]="singleBranchExpand">
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>
                    <p class="fs-4">What does NeoVert mean?</p>
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
               <p class="fs-4">NeoVert is a bridge between social media advertisement and traditional marketing methods. It is the way of the future for physical advertisements. Hence, the combination of "new" and "adVERTisements" leads to NeoVert!</p>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>
                    <p class="fs-4">Why was NeoVert founded?</p>
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
               <p class="fs-4">NeoVert was founded to increase accessibility to physical advertising while also making the process simple and easy to use for any entity interested in advertising. </p>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>
                    <p class="fs-4">How does NeoVert work?</p>
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
               <p class="fs-4 p-1">NeoBoards are physical billboards powered by digital LEDs to display images and videos. There is a three step process to posting an advertisement on a NeoBoard:</p>
               <ul>
                <li>
                    <p class="fs-4 p-1"> Create a NeoVert account and register your project.</p>
                </li>
                <li>
                    <p class="fs-4 p-1"> Once a project is created, create an advertisement by uploading the ad and selecting the time frame and location you would like it to be posted to the NeoBoard.</p>
                </li>
                <li>
                    <p class="fs-4 p-1">Lastly, after ad safety has been validated for inappropriate or unethical content, the advertisement will be posted and analytics will be provided to the ad-poster to inform them of interactions.</p>
                </li>
               </ul>
               <br>
               <p class="fs-4">Consumers of the advertisement are able to airdrop the advertisement to their phones simply by walking past a NeoBoard. For non iPhone users, QR codes will allow for access to links and related advertisement info.</p>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>
                    <p class="fs-4">Is NeoVert free?</p>
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
               <p class="fs-4">NeoVert has two pricing options. The first is a pay per post, which is based on the location of the NeoBoard and the duration of time the ad is posted. The second option is a monthly / annual subscription.</p>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>
                    <p class="fs-4">What are the benefits of NeoVert?</p>
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
               <p class="fs-4">NeoVert simplifies the advertising process. Now, you can post to physical billboards about anything ranging from a lost pet to a business venture - just with the click of a button. This allows for anyone to have a platform to share, review, like and comment on advertisements. </p>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
    </igx-accordion>
</article>
</div>