<div
    id="intro-example"
    class="p-5 text-center bg-image mt-auto"
>
    <div class="mask" style="background-color: black;">
      <div class="d-flex justify-content-center align-items-center">
        <div class="text-white">
          <h1 class="mb-3">Welcome to NeoVert!</h1>
          <a
            class="btn btn-outline-light btn-lg m-2"
            href="/login"
            role="button"
            >Login</a
          >
          <a
            class="btn btn-outline-light btn-lg m-2"
            href="/about"
            role="button"
            >Learn More</a
          >
        </div>
      </div>
    </div>
</div>
