<nav class="navbar navbar-light">
    <a class="navbar-brand ps-5" href="/">
        <img src="../../assets/images/logo.png" width="150" height="60" alt="logo">
    </a>
    <div class="row mt-3 mr-auto pe-5">
        <div class="w-auto">
          <a class="nav-link fw-bold fs-3" href="/about">About</a>
        </div>
        <div class="w-auto">
            <a class="nav-link fw-bold fs-3" href="/contact">Contact</a>
        </div>
        <div class="w-auto">
            <a class="nav-link fw-bold fs-3" href="/ad-console">Manage Posts</a>
        </div>
    </div>
</nav>
