<div class="swatch">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="title align-items-center w-100 justify-content-center d-flex">
    <h1 class="words floatthings fw-bold typewriter">Your Business. Your Advertisements. Your way.</h1>
    <button type="button" (click)="navigate()" class="btn btn-primary btn-lg button">Get Started</button>
  </div>
</div>
<div class="title">
</div>


<!-- <div
    id="intro-example"
    class="text-center bg-image mt-auto row h-100"
>
    <div class="left col h-100 rounded-circle d-flex align-items-center" style="background-color: lightskyblue;">
        <div class="text-dark left ms-auto">
          <h3 class="">Physical advertisement</h3>
          <a
            class="btn btn-outline-light btn-lg m-2"
            href="/about"
            role="button"
            >Learn More</a
          >
        </div>
    </div>
    <div class="fly-right col h-100 rounded-circle d-flex align-items-center" style="background-color: #126BC5;">
          <div class="text-dark right">
            <h3 class="vertical-align-middle justify-content-end">at the push of a button.</h3>
            <a
              class="btn btn-outline-dark btn-lg m-2"
              href="/login"
              role="button"
              >Login</a>
          </div>
    </div>
</div> -->
